<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<a href="./login.html">login</a>
	<form id="signup-form">
		<input id="signup-name" type="name" name="name" placeholder="name" />
		<input id="signup-email" type="email" name="email" placeholder="email" />
		<input id="signup-password" type="password" name="password" placeholder="password" />
		<input id="signup-confirm-password" type="password" name="confirm-password" placeholder="confirm password" />
		<button id="signup-submit" type="submit">Create Account</button>
	</form>
<script type="text/javascript" src="./signup.js"></script>
</body>
</html>