<!DOCTYPE html>
<html>
<head>
	<title>create collection</title>
</head>
<body>
	<form id="create-collection-form">
		<label>Name of Collection</label>
		<input type="text" name="collection-name" placeholder="Collection name" />
		<input type="text" name="collection-property" placeholder="Collection property" />
		<button id="collection-add-property-btn">Add Property</button>
		<button type="submit" id="create-collection-form-submit">Create Collection</button>
	</form>
<script type="text/javascript" src="./create-collection.js"></script>
</body>
</html>